.jumbotron.center-text
  %h1= t(:welcome)
  %p= t(:landing_lead_text)
  .col-md-4.col-md-offset-4
    =link_to t(:sign_up), new_user_registration_path,
             class: 'btn jumbo-btn btn-success btn-block'
  %br
  %br
