.center-text {
  text-align: center;
}

.jumbo-btn {
  font-size: 21px;
  padding: 14px 24px;
}

.bold {
  font-weight: bold;
}

.height-20 {
  height: 20px;
}

.capitalize {
  text-transform: capitalize;
}
